.navbar{
    background-color: rgba(198, 75, 160, .5);
    backdrop-filter: blur(106px);
    -webkit-backdrop-filter: blur(106px);
    height: 100px;
    width: 100%;
    padding: 0px 50px 0px 50px;
    position: fixed;
    top:0px;
    z-index: 12;
    }

.backgroundBar{
    background-color: white;
    height: 100px;
    width: 100%;
}
.navbar ul{
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navLink{
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-family: AceSans-Demo;
}

.titleLink{
    font-family: akira-jimbo-west;
    font-size: 48px;
    display:flex;
    height: 100%;
    align-items: center;
}

.navbar img{
    height: 160px;
    position: relative;
    top: 20px;
}