*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100vw;
}

.sectionTitle{
  font-family: 'AceSans-Demo';
  font-size: 64px;
  font-weight: 400;
}

/* .museoModerno{
  color:white;
  font-size: 30px;
  font-family: 'MuseoModerno', cursive;
} */