body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'akira-jimbo-west';
  src: local('akira-jimbo-west'), url(./fonts/akira-jimbo-west.otf) format('opentype');
}
@font-face {
  font-family: 'AceSans-Demo';
  src: local('AceSans-Demo'), url(./fonts/AceSans-Demo.otf) format('opentype');
}